
h1,h3{
    text-align:center;
    font-size: 28px;
    background-color:aliceblue;
    color: darkblue;
}

.container{
    display: flex; 
    flex-direction:row;   
    text-align: justify;
    justify-content: space-between;
    padding:8px;
}

.image{
    float:left;
    height: 400px;
    width: 400px;
    padding: 10px;
}
.text p{
    text-align: justify;
    padding: 2px;
    text-indent: 25px;
    font-size:18px;

}
.list{
    text-align: center;
}
ul.myul{
    text-align: justify;
    display:inline-block;
    font-size:18px;
}
.bold{
    font-weight:bold;
}